.hero-banner{
    background-image: url('../../img/hero-banner/hero-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: var(--spacing-l);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: brightness(0.5);
    color: var(--color-neutral-gray);
    

    p{
        padding: var(--spacing-m) 0;
        line-height: 1.5rem;
        max-width: 60%;
    }
    h1{

        text-align: center;
        color: var(--color-neutral-gray);
    } 
      
    }
    .btn-decouvrir{
        display: flex;
        justify-content: flex-end;
    }

.participez-encheres{
    
    display: flex;
    flex-direction: row;
   padding: var(--spacing-l);

    .decouvrir{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        img{
           max-width: 100%;
           border-radius: var(--spacing-l);
           padding: var(--spacing-m) 0;
        }
      
    }

}
.participez{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    p{
        max-width: 70%;
        padding:var(--spacing-m) 0;
        line-height: var(--spacing-l);
    }
 
}


@media (max-width: 480px) {
    .hero-banner{
      p{
        max-width: 100%;
        
      }
    }
    .participez-encheres{
        display: flex;
        flex-direction: column;
   
    }
    img{
        min-width: 100%;
        
    }
    .decouvrir-encheres{
        min-width:80%;
        margin:auto;
   
    }
}