:root {
    --color-dark-red: #260907;
    --color-red: #6E363C;
    --color-brown: #A45F48;
    --color-grayish-blue: #97A4AD;
    --color-soft-blue: #CAD3DD;
    --color-neutral-gray: #E5E6E0;
    --color-background: #EEEEEE;

    --color-success: #366E42;
    --color-failure: #B5383C;
  }
  
  